@font-face {
  font-family: 'Helvetica Now Display';
  src: local('Helvetica Now Display Light'), local('Helvetica-Now-Display-Light'),
      url('./fonts/HelveticaNowDisplay-Light.woff2') format('woff2'),
      url('./fonts/HelveticaNowDisplay-Light.woff') format('woff'),
      url('./fonts/HelveticaNowDisplay-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
html {
  box-sizing: border-box;
}
*,*::after,*::before {
  box-sizing: inherit; 
}
body {
  background-color: #E5E5E5;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
header {
  background-color: white;
  height: 7.8vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 2.5vw;
  padding-right: 10.41vw;
}
#company {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 24vh;
}
#logo {
  width: 4.7vh;
  height: 4.7vh;
}
#companyName {
  display: inline;
  font-family: Helvetica Now Display;
  font-style: normal;
  font-weight: 700;
  font-size:2.35vh;

  letter-spacing: 0.4px;

  color: #26611E;
}
main {
  padding-top:6.27vh;
  padding-left: 10.41vw;
  padding-right: 10.41vw;
  padding-bottom: 10.2vh;
  width: 100vw;
}

#inputSection {
  height: 13.3vh;
  border-radius: 8px;
  background-color: white;
  padding: 1.66vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#inputSection #desktopInput {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5.49vh;
}

.PrivateNotchedOutline-legendLabelled-3 span {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
}

form .findWordInp {
  width: 37.5vw;
  border-radius: 4px;
}

.search {
  color:white;
}
#searchButton {
  background-color: #26611E !important;
  height: 100%;
  width: 7.9vw;
}
.dropdown {
  width:12.5vw;
  height: 5.49vh;
}
#switchImg {
  width: 1.3vw;
  height: 1.3vw;
  border-radius:25px ;
  box-sizing: content-box;
  padding: 0.3vw;
}
#switchImg:hover {
  background-color: #E5E5E5;
  cursor: pointer;
}

#synonimLabel {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.25px;
  color: #212121;
  display: inline;
}
#translationList {
  display: inline;
}
.synonims {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#secSection {
  width: 100%;
  margin-top: 1.6vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#translation {
  background-color: white;
  height: 14.1vh;
  border-radius: 8px;
  width:49%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.35vh;
}
#translLabel {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  display: flex;
  align-items: center;
  letter-spacing: 0.15px;
  color: #000000;
}
#synonyms {
  background-color: white;
  height: 14.1vh;
  border-radius: 8px;
  width:49%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2.35vh;
}
#examples {
  background-color: white;
  min-height: 67.5vh;
  margin-top: 1.6vw;
  border-radius: 8px;
  padding-left: 1.6vw;
  padding-top: 1.25vw;
  padding-right: 1.6vw;
}

.synonymListItem {
  background-color:  #7C7C7C;
  border-radius: 14px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 0.9vw;
  line-height: 20px;
  font-weight: 400;
  display: flex;
  align-items: center;
  letter-spacing: 0.25px;
  color: #FFFFFF;
  display: inline;
  padding:6px 10px ;
  margin-right: 0.26vw;
}
.MuiSvgIcon-root {
  cursor: pointer;
}

#mobileSelect {
  display: none;
}
.hidden {
  display: none !important;
}
.shown {
  display: flex !important;
}
.wide {
  width: 80vw !important; 
}

@media screen and (max-width:920px) {
  header {
    padding-right: 5vw;
  }
  form .fForm {
    display: none;
  }
  form .secForm {
    display: none;
  }
  #switchImg {
    display: none;
  }
  #inputSection {
    padding: 4vw;
    height: 20vh;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

  }
  #inputSection form {
    flex-direction: column;
  }
  form .findWordInp {
    width: 100%;
    margin-right: 10px;
  }
  main {
    padding: 4vw 0;
  }
  #mobileSelect {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top:16px;
  }
  div.MuiOutlinedInput-input {
    padding: 1.65vh 1vh;
  }
  #outlined-basic {
    padding: 2.1vh 14px;
}
  #searchButton {
    height: 6.6vh;

  }
  .dropdown {
    width: 40vw;
    height: 6.49vh;
  }
  #mobileImgSearch {
    display: block;
    background-color: #E5E5E5;
    border-radius:25px ;
    box-sizing: content-box;
    padding: 1vw;

  }
  #secSection {
    margin:0;
  }
  #synonyms {
    display: none;
  }
  #translation {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius:0 ;
    padding-top: 0;
    justify-content: flex-start;
    height: fit-content;
  }
  #translLabel {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  

  letter-spacing: 0.15px;

  color: #000000;
  }
  .secLabel {
    padding-left: 16px;
  }
  #translationList {
    margin-top :0.5vh;
    display: flex;
    flex-wrap: wrap;
  }
  div .translationListItem {
    padding: 8px;
    font-size: 14px;
    background: #26611E;
    border-radius: 16px;
    margin-right: 8px;
    padding : 7px 13px;
    margin-top:10px;
  }
  #examples {
    margin-top: 12px;
    padding-top:20px ;
    padding-left: 0;
    padding-right: 0;
  }
  #exampleList {
    margin-top: 10px;
  }
  div .exampleItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.25px;
    height: fit-content;
    padding: 11px 16px;
  }
  div .leftExample, div .rightExample {
    width: 90%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
  }
  div .rightExample {
    color: #5C5C5C;
    margin-top: 4px;
  }
}